<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.zc.dal.mysql.customerbalancelog.ZcCustomerBalanceLogMapper">

    <select id="selectPageWithVO"
            resultType="cn.iocoder.yudao.module.zc.controller.admin.customerbalancelog.vo.ZcCustomerBalanceLogRespVO">
        SELECT
            t2.short_name AS customer_short_name,
            t1.id, t1.customer_id, t1.change_amount, t1.balance_before, t1.balance_after,
            t1.biz_type, t1.ref_type, t1.ref_id, t1.ref_no, t1.remark,
            t1.create_time, t1.update_time, t1.creator, t1.updater
        FROM zc_customer_balance_log t1
        LEFT JOIN zc_customer t2 ON t1.customer_id = t2.id AND t2.deleted = 0
        WHERE t1.deleted = 0
        <if test="reqVO.customerId != null">
            AND t1.customer_id = #{reqVO.customerId}
        </if>
        <if test="reqVO.bizType != null and reqVO.bizType != ''">
            AND t1.biz_type = #{reqVO.bizType}
        </if>
        <if test="reqVO.refType != null and reqVO.refType != ''">
            AND t1.ref_type = #{reqVO.refType}
        </if>
        <if test="reqVO.refId != null">
            AND t1.ref_id = #{reqVO.refId}
        </if>
        <if test="reqVO.refNo != null and reqVO.refNo != ''">
            AND t1.ref_no = #{reqVO.refNo}
        </if>
        <if test="reqVO.createTime != null and reqVO.createTime.length == 2">
            AND t1.create_time BETWEEN #{reqVO.createTime[0]} AND #{reqVO.createTime[1]}
        </if>
        ORDER BY t1.id DESC
    </select>

</mapper>
