<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.zc.dal.mysql.curtaintemplate.ZcCurtainTemplateMapper">

    <select id="selectPageWithVO"
            resultType="cn.iocoder.yudao.module.zc.controller.admin.curtaintemplate.vo.ZcCurtainTemplateRespVO">
        SELECT
            t2.`name` AS curtain_name,
            t3.`name` AS structure_name,
            t4.`name` AS element_name,
            t1.id, t1.curtain_id, t1.structure_id, t1.element_id,
            t1.creator, t1.create_time, t1.updater, t1.update_time
        FROM zc_curtain_template t1
            JOIN zc_curtain t2 ON t1.curtain_id = t2.id AND t2.deleted = 0
            JOIN zc_curtain_structure t3 ON t1.structure_id = t3.id AND t3.deleted = 0
            JOIN zc_curtain_structure_element t4 ON t1.element_id = t4.id AND t4.deleted = 0
        WHERE t1.deleted = 0
        <if test="reqVO.curtainId != null">
            AND t1.curtain_id = #{reqVO.curtainId}
        </if>
        <if test="reqVO.structureId != null">
            AND t1.structure_id = #{reqVO.structureId}
        </if>
        <if test="reqVO.elementId != null">
            AND t1.element_id = #{reqVO.elementId}
        </if>
        ORDER BY t1.id DESC
    </select>

</mapper>
